################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HangfireNew/obj/Debug/net6.0
/HangfireNew/obj/Debug/net6.0/HangfireNew.assets.cache
