################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HangfireNew/obj/Debug/net6.0/HangfireNew.AssemblyInfo.cs
/HangfireNew/obj/Debug/net6.0/HangfireNew.AssemblyInfoInputs.cache
/HangfireNew/obj/Debug/net6.0/HangfireNew.assets.cache
/HangfireNew/obj/Debug/net6.0/HangfireNew.csproj.AssemblyReference.cache
/HangfireNew/obj/Debug/net6.0/HangfireNew.GeneratedMSBuildEditorConfig.editorconfig
/HangfireNew/obj/Debug/net6.0/rpswa.dswa.cache.json
/HangfireNew/obj/Release/net6.0/HangfireNew.AssemblyInfo.cs
/HangfireNew/obj/Release/net6.0/HangfireNew.assets.cache
/HangfireNew/obj/Release/net6.0/HangfireNew.AssemblyInfoInputs.cache
/HangfireNew/obj/Release/net6.0/HangfireNew.csproj.AssemblyReference.cache
/HangfireNew/obj/Release/net6.0/HangfireNew.GeneratedMSBuildEditorConfig.editorconfig
/HangfireNew/obj/HangfireNew.csproj.nuget.g.props
/HangfireNew/obj/HangfireNew.csproj.nuget.dgspec.json
/HangfireNew/obj/project.assets.json
/HangfireNew/obj/project.nuget.cache
